VITE_SUPABASE_URL=https://rwvdxcaaodquyzeogpbg.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ3dmR4Y2Fhb2RxdXl6ZW9ncGJnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc5MTM1NDc4NCwiZXhwIjoyMTA2OTMwNzg0fQ.E5F3ITVSJ8e6dSCVJOfhyUUo322NtjVtk0Zmse3L9N0
VITE_API_URL=http://localhost:5000/api